@model List<PhoneShop.DataAccess.DTO.Promotion>
@{
    var code = ViewBag.ErrorCode;
    var message = ViewBag.ErrorMessage;
}

<table class="table">
    <thead>
        <tr>
            <th>PromotionID</th>
            <th>PromotionName</th>
            <th>ProductID</th>
            <th>CustomerID</th>
            <th>MinimumAmount</th>
            <th>Quantity</th>
            <th>QuantityOneDay</th>
            <th>StartDate</th>
            <th>EndDate </th>
            <th>PercentageDiscount</th>
        </tr>
    </thead>
    <tbody>
        @if (!string.IsNullOrEmpty(message))
        {
            <tr class="">
                <td colspan="4">
                    <input type="hidden" value="@code" id="txtErrorCodeResponseFromServer" />
                    <input type="hidden" value="@message" id="txtErrorResponseFromServer" />
                </td>
            </tr>
        }
        else
        {
            if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="product_index_@item.CustomerID">

                        <td>@item.PromotionID</td>
                        <td>@item.PromotionName</td>
                        <td>@item.ProductID</td>
                        <td>@item.CustomerID</td>
                        <td>@item.MinimumAmount</td>
                        <td>@item.Quantity</td>
                        <td>@item.QuantityOneDay</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate </td>
                        <td>@item.PercentageDiscount</td>
                        <td>
                            <a data-productid="@item.PromotionID" onclick="Product_Delete(@item.PromotionID)">
                                <i class="fa fa-trash">Xóa</i>
                            </a>
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>



